//my theme colours
$primary-dark: #135f7a;
$primary-light: #46e3ee;
$purple-dark: #5bccf6;
$purple-light: #5bccf6;
$pink: #12b6f7;
$footer: #033d53;

//white and grey  colours
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $purple-dark;
$secondary: $pink;

//import bootstrap5
@import "../node_modules/bootstrap/scss/bootstrap.scss";