@use'custom';

//import the components
@use'components/animations';
@use'components/buttons';
@use'components/mixins';
@use'components/typography';

//import the sections
@use'sections/navbar';
@use'sections/intro';
@use'sections/skills';
@use'sections/about';
@use'sections/portfolio';
@use'sections/contact';
@use'sections/footer';