@use'../custom'as *;
@use'../components/mixins'as *;

.about{

    .list{
        line-height: 1rem;

        &--head{
            color: $footer;
            font-weight: 600;
            margin-bottom: 3rem;

            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }
        
        
        @include media-breakpoint-down(sm) {
            text-align: center;
            img{
                margin-bottom: 2rem;
            }
        }
        
    }
}