@use'../custom'as *;
@use'../components/mixins'as *;

.footer {
    padding: 1rem;
    background-color: $footer;
}

//style the contact box
.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;

        @include media-breakpoint-up(sm) {
            width: 4rem;
        }
    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }
        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }
        }
    }
}

.footer-sm {

    a {
        color: $white;

        i {
            font-size: 1rem;
            margin-left: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;
            }
        }
    }
}

//style the footer copyright content
.footer-bottom {
    background-color: $primary-dark;
    font-size: 110%;

    &__copyright {
        color: $gray-600;
        font-weight: 400;
    }
}

// style the back to top button
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    i {
        font-size: 1rem;
        color: $white;
        @include absoluteCenter
    }
}